<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.selenium.MouseHandOver"/>
      <class name="com.SeleniumAlerts.JavaScriptAlerts"/>
      <class name="com.selenium.DragAndDrop"/>
      <class name="com.navigation.BrowserNavigationTest"/>
      <class name="com.selenium.radioButtonsCount"/>
      <class name="WebDriver.Commands.BrowserCommands"/>
      <class name="dropDownBox.Drop"/>
      <class name="com.OpenCart.OpenCartProject"/>
      <class name="com.navigation.navigation"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
